/* Style the play button */
.custom-play-button {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    background-color: rgba(31, 31, 31, 0.5);
    border-radius: 14px;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    border: none;
    cursor: pointer;
}

/* Add a play triangle */
.custom-play-button::before {
    content: '';
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hover effect */
.custom-play-button:hover {
    background-color: #ff0000;
    /* YouTube red */
}

/* Focus styles for accessibility */
.custom-play-button:focus {
    outline: 2px solid #fff;
}

/* Additional styles for the wrapper */
.yt-lite {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

/* When activated */
.yt-lite.lyt-activated {
    cursor: unset;
}

.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated .custom-play-button {
    opacity: 0;
    pointer-events: none;
}